
<div class="modal-top" >
  <span (click)="onNoClick()">
      <i class="fa fa-times-circle-o fa-2x" aria-hidden="true" ></i>  
  </span>
</div>
<div class="modal-body">
  <h1>Rename File To</h1>
  <div class="form-group has-feedback">
    <input  type="text" class="form-control input-sm file-name"
           maxlength="64"
           placeholder="File Name" [(ngModel)]="data"/>
</div>
<button class="btn btn-success" [mat-dialog-close]="data" cdkFocusInitial [disabled]="!data"> SEND
  </button>
</div>