h1{
    color:#39ccff
}

.modal-top{
float: right;
cursor: pointer;
 #span{
     cursor: pointer;
 }
}


.modal-body{
    text-align: center
}

.confirm-to-btn {
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-top: 15px;
    padding: 10px 110px !important;
    position: relative;
    &:after {
      content: '';
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-left: 9px solid #ffffff;
      position: absolute;
      margin-top: 15px;
      right: 25px;
      top: 0;
    }
  }

  .file-name {
    border-radius: 20px;
  }

  .send-button {
    width: 262px;
    font-size: 15px;
  }