@white: #ffffff;
.display-flex {
  display: flex;
}

.right-wrapper {
  background: linear-gradient(to right, #28aae1, #0376bf);
  display: flex;
  justify-content: center;
  padding-left: 45px;
  .right-inner {
    align-self: center;
    h1 {
      color: @white;
      font-weight: bold;
      margin-bottom: 100px;
    }
    h1.location-h1 {
      margin-bottom: 20px;
      margin-top: 140px;
    }
    h3 {
      font-weight: bold;
      color: @white;
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 20px;
    }
    button {
      background: #39ccff;
      color: @white;
      font-size: 20px;
      padding: 10px 40px;
      font-weight: bold;
      border: 1px solid #39ccff;
      border-radius: 7px;
      margin-bottom: 20px;
      &:focus {
        outline: none;
      }
      &:disabled{
        cursor: not-allowed;
      }
    }
    .back-btn {
      position: absolute;
      top: 80px;
      background: transparent;
      right: 80px;
      border: none;
      padding: 0 0 0 15px;
      &:before {
        content: '';
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid #39ccff;
        position: absolute;
        margin-top: 8px;
        left: 0;
      }
    }
    .email-form {
      display: flex;
      input {
        height: 50px;
        font-size: 20px;
        padding: 0 25px;
        width: 300px;
        border-radius: 7px 0 0 7px;
        border-right-color: #39ccff;
        border-top: 3px solid #cccccc;
      }
      button {
        height: 50px;
        border-radius: 0 7px 7px 0;
        padding: 10px 25px;
        &:after {
          content: '';
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;

          border-left: 6px solid @white;
          position: absolute;
          margin-top: -6px;
        }
      }
    }
    #table-scroll {
      margin-top: 20px;
      padding: 0 15px 0 0;
      .tbody-scroll{
        overflow-y:auto;height:500px;padding-right:20px;
      }
      table {
        width: 0;
        //border-collapse: separate;
        //border-spacing: 0 15px;
        > thead,  tbody {
          > tr {
            display: block;

            > td, > th {
              min-width: 175px;
              vertical-align: middle;
              padding: 10px 0 10px 40px;
              border-top: 0;
              border-bottom: 0;
            }
          }
        }
         tbody {
          > tr {
            background: @white;
            margin-bottom: 15px;
            &:active {
              // background: linear-gradient(to right, #63d0ff, #0a5bc4) fixed;
              background: linear-gradient(to right, #41c3fb, #157fc7, #0a5bc4);
              box-shadow: 4px 8px 10px rgba(23, 125, 175, 0.9);
              color: @white;
              td.last {
                color: #58e07d;
              }
              td.lawyer, td.case {
                color: @white;
              }
              td {
                .location-name, .location-date, .location-phone {
                  color: @white;
                }
              }
            }
            
            &:hover {
              // background: linear-gradient(to right, #63d0ff, #0a5bc4) fixed;
              background: linear-gradient(to right, #41c3fb, #157fc7, #0a5bc4);
              box-shadow: 4px 8px 10px rgba(23, 125, 175, 0.9);
              color: @white;
              td.last {
                color: #58e07d;
              }
              td.lawyer, td.case {
                color: @white;
              }
              td {
                .location-name, .location-date, .location-phone {
                  color: @white;
                }
              }
            }
            
            td.last {
              color: #39ccff;
            }
            td.lawyer {
              color: #999999;
              font-weight: bold;
            }
            td.case {
              color: #b3b3b3;
              font-weight: bold;
            }
            td {
              .location-date, .location-phone {
                color: #275884;
              }
              .location-name {
                color: #4d4d4d;
                font-weight: bold;
              }
            }
          }

        }
        > thead {
          > tr {
            > th {
              font-weight: 100;
              color: @white;
              font-size: 14px;
            }
          }

        }
      }
    }
    .table-back {
      position: absolute;
      top: 80px;
      background: transparent;
      right: 80px;
      border: none;
      padding: 0 0 0 15px;
      &:before {
        content: '';
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid #39ccff;
        position: absolute;
        margin-top: 8px;
        left: 0;
      }
    }
    .data-result {
      height: 40px;
      padding: 8px 0;
      margin-left: 15px;
      font-size: 17px;
      color: #39ccff;
      font-weight: bold;
    }
  }
  .send-to-btn {
    margin-top: 15px;
    padding: 10px 110px !important;
    position: relative;
    &:after {
      content: '';
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-left: 9px solid #ffffff;
      position: absolute;
      margin-top: 15px;
      right: 25px;
      top: 0;
    }
  }
}

.form-control {
  height: 40px;
  border-radius: 20px;
  border-top: 3px solid #cccccc;
  padding-left: 30px;
  font-size: 16px;
  &:focus {
    box-shadow: none;
  }

}

i.fa-search {
  line-height: 40px;
  font-weight: bold;
  font-size: 16px;
  color: #cccccc;
  padding-right: 15px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #C0C0C0;
  font-size: 20px;
  font-weight: bold;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #C0C0C0;
  font-size: 20px;
  font-weight: bold;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #C0C0C0;
  font-size: 20px;
  font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C0C0C0;
  font-size: 20px;
  font-weight: bold;;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #C0C0C0;
  font-size: 20px;
  font-weight: bold;
}

::placeholder { /* Most modern browsers support this now. */
  color: #C0C0C0;
  font-size: 16px;
  // font-weight: bold;
}

#searchform {
  max-width: 245px;
  &:placeholder {
    font-size: 14px;
  }
}

#searchform::-webkit-input-placeholder,
#searchform::moz-placeholer,
#searchform:moz-placeholer,
#searchform::ms-input-placeholer,
#searchform:ms-input-placeholer {
  font-size: 14px !important;
}

.navigation-group{
  text-align: center;
}

.pdf-navigation {
  cursor: pointer;
  color: #CACACA;
  font-size: 20px;
  margin-left: 4px;
}
.page-input{
  text-align: center!important;
  max-width: 20px!important;
  max-height: 20px!important;
  margin-left: 4px;
  margin-right: 4px;
}