<div class="container-fluid">
    <div class="row">
          <div class="col-sm-5 left-wrapper">
              <div class="event-banner-wrapper">
                  <div class="logo">
                        <h1>Stage</h1>
                    </div>              
                  <h2>
                    Music<br>Concert Live
                    <span>10 April 2017, 8:00 PM</span>
                    </h2>
                    <p>created by <a href="http://www.pixpalette.com" target="_blank">pixpalette</a></p>
                </div>
            </div>
            <div class="col-sm-7 right-wrapper">
  
              asd
            </div>
    </div>
  </div>