<div class="container-fluid">
    <div class="row display-flex">
        <div class="col-lg-5 col-md-5 col-sm-5 left-wrapper">
            <app-header></app-header>
            <pdf-viewer [src]="pdfSrc" [render-text]="false" style="display: block; border: 1px solid #cccccc; max-width:80%; margin-left: 10%"
                [original-size]="false" [(page)]="page" [show-all]="showAll" (after-load-complete)="callBackFn($event)" [zoom]="0.95"
                [original-size]="true"></pdf-viewer>
            <div class="row pdf-navigation-group" style="text-align: center;">
                <span class="pdf-navigation">
                    <i class="fa fa-step-backward" aria-hidden="true" (click)="changePage('backward')"></i>
                </span>
                <span class="pdf-navigation">
                    <i class="fa fa-caret-left" aria-hidden="true" (click)="changePage('pervious')"></i>
                </span>
                <input type="text" class="page-input" maxlength="3" [(ngModel)]="page" [ngModelOptions]="{standalone: true}" />
                <span class="pdf-navigation">
                    <i class="fa fa-caret-right" aria-hidden="true" (click)="changePage('next')"></i>
                </span>
                <span class="pdf-navigation">
                    <i class="fa fa-step-forward" aria-hidden="true" (click)="changePage('forward')"></i>
                </span>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 right-wrapper">
            <div class="container" style="display: flex;justify-content: center;"
            
            >
                <div class="row" style="align-self:center;">
            <div *ngIf="!isLocation" class="right-inner">
                <button class="back-btn" routerLink="/landing-page">BACK</button>
                <h1>SELECT LOCATION TO SEND FILE</h1>
                <button class="primary primary-btn" (click)="showLocationList()"> Send to Case File
                </button>
                <h3>OR</h3>
                <form class="email-form">
                    <input type="text" class="form-control input-sm" maxlength="64" placeholder="Type in email@" [(ngModel)]="requestData.email"
                        [ngModelOptions]="{standalone: true}" />
                    <button type="submit" class="btn btn-primary btn-sm" (click)="openDialog()" [disabled]="!requestData.email"></button>
                </form>
            </div>
            <div *ngIf="isLocation" class="right-inner">
                <button class="primary primary-btn table-back" (click)="hideLocationList()"> BACK
                </button>
                <h1 class="location-h1">SELECT LOCATION TO SEND FILE</h1>
                <div class="col-xs-12">
                    <div class="row display-flex" *ngIf="!isSelectedData">
                        <div class="form-group has-feedback" >
                            <input id="searchform" type="text" class="form-control input-sm" maxlength="64" placeholder="SEARCH" [(ngModel)]="filterExpression"
                            />
                            <i class="fa fa-search form-control-feedback"></i>
                        </div>
                        <div class="data-result">
                            {{(data | locationFilter: filterExpression)?.length}} RESULTS
                        </div>
                    </div>
                </div>
                <div id="table-scroll" class="col-xs-12" >
                    <table class="table table-hover" *ngIf="!isSelectedData">
                        <thead>
                            <tr>
                                <th scope="col">CLIENT INFO</th>
                                <th scope="col">CASE #</th>
                                <th scope="col">LAWYER</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <div class="tbody-scroll">
                            <tbody>

                                <tr *ngFor="let location of data | locationFilter: filterExpression" (click)="selectedLocation(location.id)">
                                    <td>
                                        <div class="location-name">
                                            {{location.name}}
                                        </div>
                                        <div class="location-date">
                                            {{location.date}}
                                        </div>
                                        <div class="location-phone">
                                            {{location.phone}}
                                        </div>
                                    </td>
                                    <td [innerHtml]="location.case" class="case"></td>
                                    <td [innerHtml]="location.lawyer" class="lawyer"></td>
                                    <td class="last">More info</td>
                                </tr>
                            </tbody>
                        </div>
                    </table>

                    <table class="table table-hover" *ngIf="isSelectedData">
                        <thead>
                            <tr>
                                <th scope="col">CLIENT INFO</th>
                                <th scope="col">CASE #</th>
                                <th scope="col">LAWYER</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="location-name">
                                        {{selectedData.name}}
                                    </div>
                                    <div class="location-date">
                                        {{selectedData.date}}
                                    </div>
                                    <div class="location-phone">
                                        {{selectedData.phone}}
                                    </div>
                                </td>
                                <td [innerHtml]="selectedData.case" class="case"></td>
                                <td [innerHtml]="selectedData.lawyer" class="lawyer"></td>
                                <td class="last">More info</td>
                            </tr>
                            <tr>
                                    DOI: {{selectedData.doi | date: 'dd/MMM/yyyy' }}
                            </tr>
                        </tbody>
                        <div class="row">
                           
                        </div>
                    </table>
                </div>
                <button class="primary primary-btn send-to-btn" (click)="openDialog()"> SEND TO
                </button>
            </div>
        </div>
    </div>
</div>
    </div>
</div>