<div class="container" style="padding-top: 30px;">
    <div class="row">
        <div class="col-xs-12">
            <img src="../../../assets/Logo.png" alt="rainwater" style="max-width: 200px;">
        </div>
    </div>
</div>
<div class="section padding-60">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <div class="result-big">
                    <h1>{{(data | emailFilter: term)?.length}}</h1>
                    <p>RESULTS</p>
                </div>
                <form method="get" id="searchform" action="" class="search-box" name="q">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="q" id="q" placeholder="SEARCH" [(ngModel)]="term">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
            </div>
            <div class="col-xs-8 wrapper" *ngIf="data.length == 0">
                <mat-spinner></mat-spinner>
            </div>
            <div class="col-xs-8 overflow-email" *ngIf="data">
                <ul class="nav nav-pills nav-stacked" *ngFor="let email of data | emailFilter: term">
                    <li>
                        <a (click)="emailPreview(email.id)">
                            <div class="col-xs-8 nav-email">
                                {{ email.name }}
                            </div>
                            <div class="col-xs-3 nav-date">
                                <div class="date-day">{{email.date | date: 'dd/MMM'}}
                                    <p>{{email.date | date: 'yyyy'}}</p>
                                </div>

                            </div>
                            <div class="col-xs-1 arrow">
                                <div class="arrow-right"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>