/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.overall-wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
}


.app-content {
    margin-top: 100px;
    margin-left: 165px;
    margin-left: 165px;
    margin-bottom: 70px;
}

@media(min-width: 1200px){
    .app-content{
        width: 1370px;
    }
}

@media(min-width: 768px){
    .app-content{
        width: 790px;
    }
}

.app-header{
    position: absolute;
    top: -13px;
    left: 192px;
}

pdf-viewr, .ng2-pdf-viewer-container{
    max-height: 83vh!important;  
}